/* === SCORE COUNTER === */

.score-counter {
  max-width: 600px;
  margin: 0 auto;
}

.opt-box {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box; /* Include padding and border in width calculation */
}

.statistics {
  width: 90%;
  margin: 0 auto; /* Center the statistics box */
  padding: 10px;
  border-radius: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #ffffffd3; /* Optional, for better visibility */
}

.stat-item {
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
  margin-bottom: 4px;
  /* font-family: 'Fira Sans', sans-serif; Matches your button font */
  font-size: 24px;
  line-height: 1.5;
  flex-wrap: nowrap;
  white-space: nowrap;
  padding: 0px 8px;
}

.stat-item strong span {
  font-size: 1.1em;
  line-height: 1;
}

.tabs {
  width: 90%;
  display: flex;
  margin: 0 auto;
  gap: 0px;
}

.tabs button {
  flex: 1;  /* Distributes equal space to all buttons */
  min-width: 0;  /* Prevents text from affecting button width */
  font-size: 1rem;
  margin-bottom: 0;
  padding: 10px;
  border: none; /* Remove all borders initially */
  border-radius: 0; /* Overrides any inherited border-radius */
  border-top-left-radius: 10px; /* Rounded top-left corner */
  border-top-right-radius: 10px; /* Rounded top-right corner */
  border-right:1px black solid;
  border-bottom: 1px rgb(192, 192, 192) solid;
  background: #ffffffd3;
  cursor: pointer;
  text-align: center; /* Centers the text inside the buttons */
  box-sizing: border-box; /* Includes padding in the button's width */
}

.tabs button:active {
  transform: none;
}

.tabs button:last-child {
  margin-right: 0; /* Removes margin from the last button */
  border-right: none;
}

.tabs button.active {
  background: #b3000080;
  color: white;
  border-bottom: none;
}

.tabs button:hover {
  box-shadow: none;
}

.sc-button-container {
  display: flex;
  margin: 0 auto;
  gap: 10px;
}

.sc-button-container button {
  color: #fff;
  font-size: 1.5em;
  flex: 1; /* Each button will take equal space */
  min-width: 80px; /* Prevents buttons from getting too small */
}

.custom-slider {
  accent-color: #b30000; /* Modern browsers */
  margin-top: 8px;
}

/* === CLOCK === */

.clock {
  margin-top: 12px;
  color: black;
  font-size: 3rem;
}

@media only screen and (max-width: 600px) {
  .stat-item {
    font-size: 1em; /* Adjust font size for smaller screens */
  }
}